{% extends "base.html" %}

{% block title %}<h1>Archives</h1>{% endblock %}
{% block contents %}
<div id="posts">
		<ul style="list-style-type:none;">
		{% for year, date_year in dates|groupby( 'date.year' )|reverse %}
			<li><h2>&gt;{{ year }}</h2></li>
				<ul style="list-style-type:none;">
					{% for article in date_year %}
						<li><h2>//<a href="{{ SITEURL }}/{{ article.url }}">{{ article.date.strftime( '%B %d' ) }}</a></h2> &mdash; {{ article.title }}</a></li>
					{% endfor %}
				</ul>
		{% endfor %}
		</ul>
</div>
{% endblock %}
{% block postsfooter %}
<p>Browse posts by: <a href="{{SITEURL}}" title="latest">Latest</a>, <a href="{{SITEURL}}/categories.html" title="categories">Categories</a>, <a href="{{SITEURL}}/tags.html" title="tags">Tags</a>, <a href="{{SITEURL}}/archives.html" title="archives">Archives</a></p>
{% endblock %}
