{% extends "base.html" %}
{% block title %}
<h1>{{ article.title }}</h1>
{% endblock %}
{% block date %}&mdash; written on {{ article.date.strftime('%A, %B %d, %Y') }}{% endblock %}
{% block contents %}
	{% if article.abstract %}
	<blockquote class="break"><p><em>{{article.abstract}}</em></p></blockquote>
	{% endif %}
	{{ article.content }}
	<div id="toTop">
	  <a href="#mainContent"><img src="/static/images/totop2.png" alt="return to top"></a>
	</div>
{% endblock %}
{% block postsfooter %}
	<p>{% if article.category %}This entry is under category: <a href="{{SITEURL}}/{{article.category}}/" title="category">{{article.category}}</a>
	{% else %}This entry is under category: <a href="#" title="category">{{DEFAULT_CATEGORY}}</a>{% endif %}
	{% if article.tags %}</br>and was tagged as: {% for tag in article.tags %}{% if loop.last and article.tags|length() > 1 %} and {% endif %}<a href="{{SITEURL}}/{{tag.url}}" title="tag">{{tag}}</a>{% if not loop.last %}, {% else %}.{% endif %}{% endfor %}{% endif %}</p>
{% endblock %}
