<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{SITENAME}} is not science</title>
        <style type="text/css" title="layout">
		  @import "{{SITEURL}}/static/css/{{HIGHLIGHT_CSS_FILE}}";
          @import "{{SITEURL}}/static/css/{{CSS_FILE}}";
		  {% block css %}{% endblock %}
        </style>
        <script src="{{SITEURL}}/static/scripts/jquery-1.7.2.min.js"></script>
		<!-- Using MathJax, with the delimiters $ -->
		<!-- Conflict with pygments for the .mo and .mi -->
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({
		  "HTML-CSS": {
		  styles: {
		  ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
		  },
		  tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true},
		  TeX: { equationNumbers: { autoNumber: "AMS" } }
		  });
		</script>

	   <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
        {% if DEPLOY == True %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{GA_ACCOUNT}}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endif %}
        {% if ENABLE_FANCYBOX == True %}
        <script src="{{SITEURL}}/static/scripts/jquery.fancybox.pack.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.fancybox').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                padding : 0,
                beforeLoad: function() {
                    var el, id = $(this.element).data('title-id');

                    if (id) {
                        el = $('#' + id);
                    
                        if (el.length) {
                            this.title = el.html();
                        }
                    }
                },
                afterShow: function() {
                    $(".fancybox-title").wrapInner('<div />').show();
                    
                    $(".fancybox-wrap").hover(function() {
                        $(".fancybox-title").show();
                    }, function() {
                        $(".fancybox-title").hide();
                    });
                },
                helpers : {
                    title: {
                        type: 'over'
                    }
                }

                });
            });
        </script>
        {% endif %}
    </head>
    {% set navigation_bar = [
    ('/', 'index', 'blog'),
    ('/showcase/', 'showcase', 'showcase'),
    ('/about/', 'about', 'about')] %}
	{% set active_page = active_page|default('index') %}
    <body>

        <div id="container">
        	<div id="header-wrapper">

				<div id="header">
					<h1><a href="{{ SITEURL }}" title="home">{{SITENAME}}</a></h1>
				</div>
				<div id='nav'>
					 <ul>
						{% for href, id, caption in navigation_bar %}
						<li{% if id=='index' %} style="border-left: none;" {% endif %}><a {% if id == active_page %} class="active" {% endif %} href="{{ SITEURL }}{{ href|e }}">{{ caption|e }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div id="my_fixable_header">...</div>
            <div id="mainContent">{% block title %}{% endblock %}<div id="printheader"><h2>{{AUTHOR}}</h2></div><div id="wdate">{% block date %}{% endblock %}</div>{% block contents %}{% endblock %}</div>
            {% block scripts %}{% endblock %}
            <div class="clear"></div>
			<div id="posts-footer">{% block postsfooter %}{% endblock %}</div>
		</div>
		<div id="footer">
			<p>sndbx.be &#169; <a href="{{SITEURL}}/about/" title="Interested in learning more about this site?">{{CURRENT_DATE.strftime('%Y')}}</a> Powered by <a href="http://getpelican.com/" title="Pelican">Pelican</a></br>handcrafted by {{AUTHOR}}</br>Last modified on {{CURRENT_DATE.isoformat()}}</p>
		</div>
<script type="text/javascript">


var myHeader = $('#my_fixable_header');
myHeader.data( 'position', myHeader.position() );
$(window).scroll(function(){
    var hPos = myHeader.data('position'), scroll = getScroll();
    $('#header-wrapper').css("-webkit-transform","translateY("+ (scroll.top/3) +"px)");
    $('#my_fixable_header').css("box-shadow", "0 5px 10px 0 #bbb");
    if ( hPos.top < scroll.top ){
        myHeader.addClass('fixed');
        $('#my_fixable_header').css("box-shadow", "0 5px 10px 0 #bbb");
        $('#mainContainer').css("margin","margin: 5px auto;");
    }
    else {
        myHeader.removeClass('fixed');
        $('#mainContainer').css("margin","margin: 0 auto;");
    }
    
    if (scroll.top < 200) {
      $('#my_fixable_header').css("opacity", (scroll.top * 0.005) );
      $('#header').css("opacity", ( 1- (scroll.top * 0.005)) );
       $('#nav').css("opacity", ( 1- (scroll.top * 0.005)) );
      $('#header-wrapper').css("background-color","rgba(204,255,0," + (scroll.top * 0.005) + ")");
    } else {
      $('#my_fixable_header').css("opacity", 1);
        $('#header-wrapper').css("background-color","rgba(204,255,0,1)");
    }
   
    
    if ( scroll.top == 0 ){
        $('#my_fixable_header').css("box-shadow", "none");
        $('#my_fixable_header').css("opacity", 0);
        $('#header').css("opacity", 1 );
       $('#nav').css("opacity", 1 );
        $('#header-wrapper').css("background-color","#fafafa");
    }
    
    
    
});

function getScroll () {
    var b = document.body;
    var e = document.documentElement;
    return {
        left: parseFloat( window.pageXOffset || b.scrollLeft || e.scrollLeft ),
        top: parseFloat( window.pageYOffset || b.scrollTop || e.scrollTop )
    };
}
    

</script>
		

    </body>
</html>
